<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index.ejs loaded successfully!</h1>
    <% let x=90 %>
    <%= x %>
    <% if (x==90) { %>
        <h1>x==90</h1>
    <% }  %>
    <% for( let index = 0; index < 5; index++ ) { %>
        <h1>hello</h1>
    <% } %>
       
    
</body>
</html>